os: linux

language: minimal

services:
  - docker

before_install:
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
  - docker version
  - npm install
  - docker pull hadolint/hadolint
  - docker pull koalaman/shellcheck

script:
  - ./docker.sh test
  - ./docker.sh build
  - docker image ls -a

notifications:
  email:
    on_success: never
    on_failure: always
